/* body header nav .nav-sections {
  display: block;
  visibility: visible;
} */

.megaMenuItem-megaMenuItem-1TT {
  font-size: 16px;
}
.submenu-submenu-iLX {
  background-color: #fff;
}
@media (width >= 900px) {
  .megaMenuItem-megaMenuItem-1TT:hover > a + .submenu-submenu-iLX {
    display: flex;
  }
}

@media (width < 900px) {
  .megaMenuItem-megaMenuLink-2Rr {
    font-weight: bold;
  }
  .megaMenuItem-megaMenuLink-2Rr{
    min-height: 3rem;;
  }
  .submenu-submenu-iLX.submenu-submenu_active-1Lj {
    display: block;
    position: static;
  }
  .submenu-submenu-iLX.py-5{
    padding: 0 0 0 5px;
  }
  .submenu-submenuItems-3rB {
    display: block;
  }
  .submenuColumn-submenuColumn-1Hl.p-5{
    padding: 3px;
  }
  .submenuColumn-submenuColumn-1Hl span {
    font-weight: normal;
  }
}

.submenu-submenu-iLX {
  top: 50px;
}

.header-secondaryActions-2BM {
  margin: 10px;
}

.cartTrigger-trigger-1c5 {
  min-width: 3.5rem;
}
.searchTrigger-root-3d1 {
  transition-property: color;
  transition-duration: 224ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.searchTrigger-label-1X3 {
}
.onlineIndicator-root-1sd {
  --stroke: rgb(var(--venia-global-color-text));
  grid-area: primary;
}

@media (min-width: 640px) {
  .onlineIndicator-root-1sd {
    grid-column: 3 / 4;
  }
}

@media (min-width: 960px) {
  .onlineIndicator-root-1sd {
    grid-column: 2 / 3;
  }
}

.header-logo-1Ey {
  height: var(--height);
  width: var(--width);
}

.header-loader-UiG,
.header-loaderBefore-3Tj,
.header-loaderAfter-2qC {
  --dot-size: 2em;
  --dot-font-size: 6px;
  --dot-shadow-offset: calc(-1 * var(--dot-size) + var(--dot-font-size));
  width: var(--dot-size);
  height: var(--dot-size);
  -webkit-animation: header-pulse-3EH 1.8s infinite ease-in-out;
  animation: header-pulse-3EH 1.8s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.header-loader-UiG {
  font-size: var(--dot-font-size);
  margin-top: var(--dot-shadow-offset);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.header-loaderBefore-3Tj,
.header-loaderAfter-2qC {
  content: '';
}

.header-loaderBefore-3Tj {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.header-loaderAfter-2qC {
}

@-webkit-keyframes header-pulse-3EH {
  0%,
  80%,
  100% {
    box-shadow: 0 var(--dot-size) 0 -1.3em;
  }
  40% {
    box-shadow: 0 var(--dot-size) 0 0;
  }
}

@keyframes header-pulse-3EH {
  0%,
  80%,
  100% {
    box-shadow: 0 var(--dot-size) 0 -1.3em;
  }
  40% {
    box-shadow: 0 var(--dot-size) 0 0;
  }
}
.storeSwitcher-root-3oM {
}

.storeSwitcher-trigger-3ph {
}

.storeSwitcher-menu-FvS {
  transform: translate3d(0, -8px, 0);
  transition-duration: 192ms;
  transition-timing-function: var(--venia-global-anim-out);
  transition-property: opacity, transform, visibility;

  /* TODO @TW: review (B6) */
  /* composes: invisible from global; */
  visibility: hidden;
}

.storeSwitcher-menu_open-1o9 {
  transform: translate3d(0, 4px, 0);
  transition-duration: 224ms;
  transition-timing-function: var(--venia-global-anim-in);

  /* TODO @TW: review (B6) */
  /* composes: visible from global; */
  visibility: visible;
}

/*
* Mobile-specific styles.
*/

@media (max-width: 639px) {
  .storeSwitcher-root-3oM:only-child {
    grid-column: 2;
  }

  /* TODO @TW: cannot compose */
  .storeSwitcher-root-3oM:last-child .storeSwitcher-menu-FvS {
    right: 1rem;
    left: auto;
  }

  .storeSwitcher-menu-FvS {
    transform: translate3d(0, 8px, 0);
  }

  .storeSwitcher-menu_open-1o9 {
    transform: translate3d(0, -4px, 0);
  }
}

.currencySwitcher-menu-28d {
  transform: translate3d(0, 8px, 0);
  transition-duration: 192ms;
  transition-timing-function: var(--venia-global-anim-out);
  transition-property: opacity, transform, visibility;

  /* TODO @TW: review (B6) */
  /* composes: invisible from global; */
  visibility: hidden;
}

@media (min-width: 640px) {
  .currencySwitcher-menu-28d {
    transform: translate3d(0, -8px, 0);
  }
}

.currencySwitcher-menu_open-1ui {
  transform: translate3d(0, 4px, 0);
  transition-duration: 224ms;
  transition-timing-function: var(--venia-global-anim-in);

  /* TODO @TW: review (B6) */
  /* composes: visible from global; */
  visibility: visible;
}

/* TODO @TW: cannot compose */
.currencySwitcher-root-1S2:last-child:not(:only-child) {
  padding-left: 0;
  grid-auto-flow: column;
}

/* TODO @TW: cannot compose */
.currencySwitcher-root-1S2:last-child:not(:only-child)::before {
  /* composes: border from global; */
  /* composes: border-solid from global; */
  /* composes: border-subtle from global; */
  border-left: 1px solid rgb(var(--venia-global-color-border));
  content: '';
  height: 1em;
  width: 1rem;
}

@media (max-width: 639px) {
  .currencySwitcher-root-1S2:only-child {
    grid-column: 2;
  }

  /* TODO @TW: cannot compose */
  .currencySwitcher-root-1S2:last-child .currencySwitcher-menu-28d {
    right: 1rem;
    left: auto;
  }

  .currencySwitcher-menu_open-1ui {
    transform: translate3d(0, -4px, 0);
  }
}
.megaMenuItem-megaMenuItem-1TT {
}

.megaMenuItem-megaMenuLink-2Rr {
  min-height: 5rem;
}

/* TODO @TW: cannot compose */
.megaMenuItem-megaMenuItem-1TT:hover .megaMenuItem-megaMenuLink-2Rr,
.megaMenuItem-megaMenuItem-1TT:focus .megaMenuItem-megaMenuLink-2Rr {
  text-decoration: underline;
}
.submenu-submenu-iLX {
  top: 45px;
  box-shadow: 0 3px rgb(var(--venia-global-color-gray-100));
}

/* TODO @TW: cannot compose */
.submenu-submenu-iLX::before {
  box-shadow: inset 0 2px rgb(var(--venia-global-color-gray-100));
  content: '';
  height: 10px;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.navigation-root-1v3 {
  grid-template-rows: auto 1fr auto;
  transform: translate3d(-100%, 0, 0);
  transition-duration: 192ms;
  transition-property: opacity, transform, visibility;
  transition-timing-function: var(--venia-global-anim-out);

  /* TODO @TW: review (B6) */
  /* composes: invisible from global; */
  visibility: hidden;
}

.navigation-root_open-29x {
  transform: translate3d(0, 0, 0);
  transition-duration: 384ms;
  transition-timing-function: var(--venia-global-anim-in);

  /* TODO @TW: review (B6) */
  /* composes: visible from global; */
  visibility: visible;
}

.navigation-header-2E8 {
  grid-auto-columns: 3.5rem;
  grid-auto-rows: 3.5rem;
  grid-template-columns: 3.5rem 1fr 3.5rem;
}

.navigation-body-36m {
  transition-duration: 192ms;
  transition-property: opacity, visibility;
  transition-timing-function: var(--venia-global-anim-out);

  /* TODO @TW: review (B6) */
  /* composes: visible from global; */
  visibility: visible;
}

.navigation-body_masked-2t0 {
  transition-duration: 384ms;
  transition-timing-function: var(--venia-global-anim-in);

  /* TODO @TW: review (B6) */
  /* composes: invisible from global; */
  visibility: hidden;
}

.navigation-modal-3rz {
  transform: translate3d(-100%, 0, 0);
  transition-duration: 192ms;
  transition-property: opacity, transform, visibility;
  transition-timing-function: var(--venia-global-anim-out);

  /* TODO @TW: review (B6) */
  /* composes: invisible from global; */
  visibility: hidden;
}

.navigation-modal_open-2xW {
  transform: translate3d(0, 0, 0);
  transition-duration: 384ms;
  transition-timing-function: var(--venia-global-anim-in);

  /* TODO @TW: review (B6) */
  /* composes: visible from global; */
  visibility: visible;
}

.miniCart-root-3Wu {
  transition:
    opacity 192ms var(--venia-global-anim-out),
    visibility 192ms var(--venia-global-anim-out),
    /* Adding delay to move container off the screen after previous transitions happened */ left 0s 192ms;
  width: calc(100vw - 2rem); /* TODO @TW: review */
  transform: translate3d(-50%, 0, 0);

  /* TODO @TW: review (B6) */
  /* composes: invisible from global; */
  visibility: hidden;
}

.miniCart-root_open-1sp {
  transition:
    opacity 224ms var(--venia-global-anim-in),
    visibility 224ms var(--venia-global-anim-in),
    left 0s;

  /* TODO @TW: review (B6) */
  /* composes: visible from global; */
  visibility: visible;
}

/* These heights may change based on PWA-605 and should be based on 1.5 and 2.5 visible items. */
.miniCart-contents-1wD {
  box-shadow: 0 1px 6px rgb(var(--venia-global-color-gray-900) / 0.2);
  min-height: 20rem;
  transform: translate3d(0, -8px, 0);
  transition-duration: 192ms;
  transition-property: transform;
  transition-timing-function: var(--venia-global-anim-out);
}

.miniCart-contents_open-6sQ {
  transform: translate3d(0, 4px, 0);
  transition-duration: 224ms;
  transition-timing-function: var(--venia-global-anim-in);
}

.miniCart-header-BRH {
}

.miniCart-stockStatusMessageContainer-2dS {
}

/* TODO @TW: cannot compose */
.miniCart-stockStatusMessageContainer-2dS:empty {
  display: none;
}

.miniCart-body-3S- {
  min-height: 10rem;
}

.miniCart-quantity-N3D {
  transition-delay: 64ms;
  transition-duration: 384ms;
  transition-property: opacity;
  transition-timing-function: var(--venia-global-anim-standard);
}

.miniCart-price-1e6 {
  transition-delay: 64ms;
  transition-duration: 384ms;
  transition-property: opacity;
  transition-timing-function: var(--venia-global-anim-standard);
}

.miniCart-footer-3RN {
  min-height: 3rem;
}

.miniCart-checkoutButton-3fk {
  grid-column: 1 / span 1;
}

/* DO NOT COMMIT THIS */

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}
