../ui.apps/
./src/main/webpack/tests/
../dependencies
__tests__
node_modules
target
dist
node
i18n
./src/main/webpack/resources/
./src/main/webpack/site/scss/
./src/main/webpack/styles/
./src/**/*.scss
./src/**/*.pug
./src/**/*.html
./src/main/webpack/site/assets/js/vendors/
./src/main/webpack/static/
./src/main/webpack/resources/
.storybook
.husky
