/*
* Target all rows.
*/
.venia-home-row-1,
.venia-home-row-2,
.venia-home-row-3 {
  --brightBlue: 233 100% 056%;
  color: hsl(205 024% 012%);
  max-width: 1440px !important;
}

/*
* Target all buttons.
*/

.venia-home-row-1 a {
  align-items: center;
  background-color: transparent;
  border: 2px solid hsl(var(--brightBlue));
  border-radius: 1.25rem;
  color: hsl(var(--brightBlue));
  display: inline-flex;
  font-size: 14px !important;
  font-weight: 700 !important;
  height: 2.5rem;
  justify-content: center;
  letter-spacing: 0.25px;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  min-width: 12rem;
  text-decoration: none !important;
  text-transform: uppercase;
}
.venia-home-row-1 a:active,
.venia-home-row-1 a:focus {
  box-shadow: -6px 6px hsl(var(--brightBlue) / 0.3);
  outline: none;
}

/*
* Target the wrapper within the first row.
*/
.venia-home-row-1 > div {
  background: none !important;
  display: grid !important;
  grid-template-columns: 100%;
  padding: 0 !important;
  row-gap: 2rem;
}

/*
* Target all column groups after the slider.
*/
.venia-home-slider ~ div {
  display: grid !important;
  gap: 0;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1rem;
  z-index: 1;
}

@media (max-width: 959px) {
  .venia-home-slider ~ div {
    grid-auto-flow: row;
    grid-template-columns: 100%;
    text-align: center;
  }
}

/*
* Target the callout containers below the slider.
*/
.venia-home-slider + div {
  gap: 2rem;
  margin-top: -2rem;
}

/*
* Target the slider.
*/
.venia-home-slider .slick-slider {
  min-height: 628px !important;
  margin-left: -1rem;
  max-width: 1440px;
  width: 100vw;
}

/*
* Target the slider track.
*/
.venia-home-slider .slick-slider .slick-track {
  display: grid;
  grid-auto-flow: column;
}
.venia-home-slider .slick-slider .slick-track::before,
.venia-home-slider .slick-slider .slick-track::after {
  content: none;
}

/*
* Target each slide.
*/
.venia-home-slider .slick-slider .slick-slide {
  float: none;
  line-height: 1.5;
  text-align: left;
}

/*
* Target the banner wrapper within a slide.
*/
.venia-home-slider .slick-slide > div > div > div {
  align-items: center;
  background-position: right top !important;
  background-size: cover !important;
  display: grid !important;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%;
  justify-items: center;
  padding: 0 0 6rem !important;
}

@media (max-width: 1280px) {
  .venia-home-slider .slick-slider {
    min-height: 548px !important;
  }

  .venia-home-slider .slick-slide > div > div > div {
    min-height: 580px !important;
  }
}

@media (max-width: 959px) {
  .venia-home-slider .slick-slide > div > div > div {
    align-content: end;
    background-position: right center !important;
    color: white;
    grid-template-columns: auto;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center;
  }

  .venia-home-slider .slick-slide > div > div > div::before {
    background-image: linear-gradient(180deg, transparent, rgba(0 0 0 / 0.2), rgba(0 0 0 / 0.6));
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.venia-home-slider .slick-slide > div > div > div > div {
  margin: 0 !important;
  padding: 0 !important;
}

/*
* Target the content of a slide.
*/
.venia-home-slider .slick-slide h2 {
  font-family: 'Source Serif Pro';
  font-size: 40px !important;
  font-weight: 600 !important;
}

.venia-home-slider .slick-slide a {
  background-color: hsl(var(--brightBlue));
  color: white;
}

/*
* Target the slide selection controls.
*/
.venia-home-slider .slick-slider .slick-dots {
  align-items: center;
  display: grid !important;
  grid-auto-flow: column;
  height: 4rem;
  justify-content: center;
  margin-top: -6rem;
  padding: 0 0 2rem;
}

/*
* Target each item within the slide selection controls.
*/
.venia-home-slider .slick-slider .slick-dots li {
  height: auto;
  margin: 0;
  width: auto;
}

/*
* Target each button within the slide selection controls.
*/
.venia-home-slider .slick-slider .slick-dots li > button {
  background-clip: content-box !important;
  border-color: transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.875rem;
  height: 2.5rem !important;
  margin: 0;
  transition: none;
  width: 2.5rem !important;
}

/*
* Target all callouts below the slider.
*/
.venia-home-callout {
  align-content: end !important;
  background-size: cover !important;
  display: grid !important;
  height: 280px !important;
  justify-content: end !important;
  margin: 0 !important;
  min-height: 280px !important;
  padding: 0 !important;
  width: 100% !important;
}

@media (max-width: 959px) {
  .venia-home-callout {
    justify-self: center;
    max-width: 640px;
  }
}

/*
* Target the text box within a callout.
*/
.venia-home-callout-text {
  align-content: center;
  background-color: rgb(27 37 44) !important;
  border-bottom: 0.5rem solid hsl(233 100% 056%) !important;
  display: grid;
  gap: 0.25rem;
  height: 6.5rem !important;
  line-height: 1.5 !important;
  padding: 0 1.5rem !important;
  text-align: left !important;
  transform: translate3d(1rem, 0.5rem, 0);
  width: 16rem;
}

@media (max-width: 959px) {
  .venia-home-callout-text {
    transform: translate3d(0, 0.5rem, 0);
  }
}

.venia-home-callout-text > h2 {
  font-family: 'Source Serif Pro';
  font-size: 24px !important;
  font-weight: 600 !important;
  margin: 0;
}

.venia-home-callout-text > p,
.venia-home-callout-text > p > span {
  font-size: 0.875rem !important;
  margin: 0;
}

/*
* Target the content side of a type-A banner.
*/
.venia-home-banner-a-content {
  align-content: center !important;
  align-self: center !important;
  display: grid !important;
  grid-column: 1 / span 3;
  justify-content: center !important;
  margin: 0 !important;
  padding: 5rem 2rem !important;
  text-align: left;
  width: 100% !important;
}

@media (max-width: 959px) {
  .venia-home-banner-a-content {
    grid-column: 1 / span 1;
    padding-top: 0 !important;
    text-align: center;
  }
}

.venia-home-banner-a-content > div {
  max-width: 480px !important;
}

.venia-home-banner-a-content > div h2 {
  font-family: 'Source Serif Pro';
  font-size: 40px !important;
  font-weight: 600;
  margin-bottom: 2rem !important;
}

.venia-home-banner-a-content > div h3 {
  font-size: 18px !important;
  font-weight: 600;
  margin: 0 0 1rem !important;
}

.venia-home-banner-a-image {
  align-self: center !important;
  background-position: center center !important;
  background-size: cover !important;
  grid-column: 4 / span 2;
  margin: 0 !important;
  min-height: 360px !important;
  padding: 0 !important;
  width: 100% !important;
}

@media (max-width: 959px) {
  .venia-home-banner-a-image {
    background-position: center bottom !important;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin-top: 4rem !important;
  }
}

/*
* Target the content of a type-B banner.
*/
.venia-home-banner-b-image {
  background-position: center center !important;
  background-size: cover !important;
  grid-column: 1 / span 3;
  min-height: 368px !important;
  width: 100% !important;
}

@media (max-width: 959px) {
  .venia-home-banner-b-image {
    grid-column: 1 / span 1;
  }
}

.venia-home-banner-b-content {
  grid-column: 4 / span 2;
  padding: 5rem !important;
  text-align: left;
  width: 100% !important;
}

@media (max-width: 959px) {
  .venia-home-banner-b-content {
    grid-column: 1 / span 1;
    margin: 0 1rem !important;
    text-align: center;
    width: auto !important;
  }
}

.venia-home-banner-b-content > div h2 {
  font-family: 'Source Serif Pro';
  font-size: 40px !important;
  font-weight: 600;
}

.venia-home-banner-b-content > div a {
  background-color: transparent;
  border-color: white;
  color: white;
}

/*
* Target the second row.
*/
.venia-home-row-2 h2 {
  font-family: 'Source Serif Pro';
  font-size: 40px !important;
  font-weight: 600;
}

.venia-home-products .slick-slider .slick-dots {
  align-items: center;
  display: grid !important;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  height: auto;
  justify-content: center;
  padding: 0;
}

.venia-home-products .slick-slider .slick-dots li {
  height: auto;
  margin: 0;
  width: auto;
}

.venia-home-products .slick-slider .slick-dots li > button {
  background-clip: content-box !important;
  border-color: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 1rem 0;
  filter: none !important;
  height: 2.5rem !important;
  margin: 0;
  transition: none;
  width: 100% !important;
}

.venia-home-products .slick-slider .slick-dots .slick-active > button {
  background-color: hsl(205 004% 048%) !important;
}

.venia-home-banner-text > div {
  flex-direction: unset !important;
  justify-content: normal !important;
}

@media (max-width: 960px) {
  .venia-home-banner-text > div {
    flex-direction: column !important;
    justify-content: center !important;
  }
}

.richContent-root-2XB h1,
.richContent-root-2XB h2,
.richContent-root-2XB h3,
.richContent-root-2XB h4,
.richContent-root-2XB h5,
.richContent-root-2XB h6 {
  margin-bottom: 0.5rem;
  line-height: 1.25;
}

.richContent-root-2XB h1 {
  margin-top: 0.75rem;
  font-size: 1.875rem;
  font-weight: 400;
}

.richContent-root-2XB h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.richContent-root-2XB h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.richContent-root-2XB h4 {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.richContent-root-2XB h5 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.richContent-root-2XB h6 {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.richContent-root-2XB p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.richContent-root-2XB p:last-child {
  margin-bottom: 0;
}

.richContent-root-2XB img {
  max-width: 100%;
  margin: 1rem 0;
}

.richContent-root-2XB ol,
.richContent-root-2XB ul {
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.richContent-root-2XB p + ol,
.richContent-root-2XB p + ul {
  margin-top: 0;
}

/* TODO @TW: cannot compose */
.richContent-root-2XB ol {
  /* composes: list-decimal from global; */
  list-style-type: decimal;
}

/* TODO @TW: cannot compose */
.richContent-root-2XB ul {
  /* composes: list-disc from global; */
  list-style-type: disc;
}

.richContent-root-2XB a {
  text-decoration: underline;
}

.richContent-root-2XB blockquote {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-style: italic;
}

.richContent-root-2XB table {
  width: 100%;
  text-align: left;
}

.richContent-root-2XB pre {
  padding: 1rem;
  /* composes: border from global; */
  /* composes: border-solid from global; */
  /* composes: border-subtle from global; */
  border: 1px solid rgb(var(--venia-global-color-border));
  /* composes: bg-gray-900 from global; */
  background: rgb(var(--venia-global-color-gray));
}

.richContent-root-2XB .cms-content-important {
  padding: 1rem;
  /* composes: border from global; */
  /* composes: border-solid from global; */
  /* composes: border-subtle from global; */
  border: 1px solid rgb(var(--venia-global-color-border));
  /* composes: bg-gray-900 from global; */
  background: rgb(var(--venia-global-color-gray));
  font-size: 1.125rem;
}

@media (min-width: 800px) {
  .richContent-root-2XB h1 {
    font-size: 3rem;
  }

  .richContent-root-2XB h2 {
    font-size: 2.25rem;
  }

  .richContent-root-2XB h3 {
    font-size: 1.875rem;
  }

  .richContent-root-2XB h4 {
    font-size: 1.5rem;
  }

  .richContent-root-2XB h5 {
    font-size: 1.125rem;
  }

  .richContent-root-2XB h6 {
    font-size: 1rem;
  }
}



.row-root-ZC3 {
  --leftViewportElement: 0;
  --scrollBarWidth: var(--global-scrollbar-width, 0px);
}

.row-contained-Ijt {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: var(--venia-global-maxWidth, 1280px);
  width: 100%;
}

.row-fullBleed-1Kh {
  width: calc(100vw - var(--scrollBarWidth));
  transform: translateX(-50%);
  margin-left: 50%;
}

.row-videoOverlay-buJ {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -99;
  -webkit-transform: translate3d(0, 0, 0);
}

.row-root-ZC3 [id*='jarallax-container'] video,
.row-root-ZC3 [id*='jarallax-container'] iframe {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .row-root-ZC3 {
    background-attachment: scroll !important;
  }
}
.column-root-3KA {
}

@media only screen and (max-width: 768px) {
  .column-root-3KA {
    background-attachment: scroll !important;
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .columnGroup-root-16Z {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  .columnLine-root-2qK {
    flex-wrap: wrap;
  }
}
.image-root-1z4 {
  margin: 0;
}
.image-img-1A9 {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media (min-width: 48rem) {
  .image-mobileOnly-F9l {
    display: none;
  }
}
.image-shimmer-shimmerRoot-2tO {
  margin: 1rem 0;
}
.text-root-2Wx {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
.banner-root-3gx {
}
a.banner-link-1UQ {
  text-decoration: none;
}
.banner-wrapper-3z9 {
  background-clip: padding-box;
  border-radius: inherit;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: hidden;
}
.banner-overlay-3Jh {
  padding: 30px;
  transition: background-color 500ms ease;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.banner-videoOverlay-2Hf {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.banner-viewportElement-1EC {
  height: 100%;
  width: 1px;
  position: absolute;
  left: var(--leftViewportElement);
  top: 0;
  z-index: -100;
  -webkit-transform: translate3d(0, 0, 0);
}

.banner-content-1ns {
  min-height: 50px;
  width: 100%;
}
.banner-button-3xU {
  margin: 20px 0 0 0;
  max-width: 100%;
  text-align: inherit;
  transition: opacity 500ms ease;
  word-break: break-word;
  width: 100%;
}
.banner-root-3gx:hover .banner-buttonHover-92i {
  opacity: 1;
}
.banner-buttonHover-92i {
  opacity: 0;
}
.banner-posterOverlay-3gT {
  align-content: center;
  justify-content: center;
}
.banner-posterOverlayHover-1FC {
  background-color: transparent !important;
}
.banner-collageLeftOverlay-3fL {
  margin-right: auto;
  max-width: 540px;
}
.banner-collageLeftOverlayHover-3o7 {
  background-color: transparent !important;
}
.banner-collageCenteredOverlay-aNR {
  margin-right: auto;
  margin-left: auto;
  max-width: 540px;
}
.banner-collageCenteredOverlayHover-QXM {
  background-color: transparent !important;
}
.banner-collageRightOverlay-1Dy {
  margin-left: auto;
  max-width: 540px;
}
.banner-collageRightOverlayHover-2hQ {
  background-color: transparent !important;
}

.banner-root-3gx [id*='jarallax-container'] video,
.banner-root-3gx [id*='jarallax-container'] iframe,
.banner-root-3gx [id*='jarallax-container'] img {
  margin: auto !important;
  transform: none !important;
}
.banner-shimmer-shimmerRoot-3gI {
  display: block;
}

.banner-shimmer-wrapper-1-q {
}

.banner-shimmer-overlay-26W {
}

.banner-shimmer-content-_aD {
}
.buttonItem-linkButton-25f {
  text-decoration: underline;
}
.slider-root-2kb {
  display: block;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --leftViewportElement: -99999px;
}
.slider-root-2kb .slick-current {
  --leftViewportElement: 0;
}

.slider-bannerRoot-3Fa {
  min-height: inherit;
}
.slider-bannerLink-GKm {
  min-height: inherit;
}
.slider-bannerWrapper-20F {
  min-height: inherit;
}
.slider-bannerPosterOverlay-3B1 {
  min-height: inherit;
}

.slider-root-2kb .slick-slider {
  min-height: inherit;
}

.slider-root-2kb .slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  min-height: inherit;
}

.slider-root-2kb .slick-list:focus {
  outline: none;
}

.slider-root-2kb .slick-list.dragging {
  cursor: pointer;
}

.slider-root-2kb .slick-track {
  display: block;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  min-height: inherit;
}

.slider-root-2kb .slick-track .slick-slide > div {
  min-height: inherit;
}

.slider-root-2kb .slick-track:before,
.slider-root-2kb .slick-track:after {
  content: '';
  display: table;
}

.slider-root-2kb .slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slider-root-2kb .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: inherit;
}

[dir='rtl'] .slider-root-2kb .slick-slide {
  float: right;
}

.slider-root-2kb .slick-slide img {
  display: block;
}
.slider-root-2kb .slick-slide.slick-loading img {
  display: none;
}

.slider-root-2kb .slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
  visibility: hidden;
}

.slick-initialized .slick-slide.slick-active {
  visibility: visible;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slider-root-2kb .slick-vertical .slick-loading {
  border: 1px solid transparent;
  display: block;
  height: auto;
}

.slider-root-2kb .slick-slider .slick-track,
.slider-root-2kb .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slider-root-2kb .slick-arrow.slick-hidden {
  display: none;
}

.slider-root-2kb .slick-prev {
  left: 1.6rem;
}
.slider-root-2kb .slick-prev:before {
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='32px' height='32px' viewBox='0 0 24 24' fill='none' stroke='black' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'><line x1='19' y1='12' x2='5' y2='12' /><polyline points='12 19 5 12 12 5' /></svg>");
}

.slider-root-2kb .slick-next {
  right: 1.6rem;
}
.slider-root-2kb .slick-next:before {
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='32px' height='32px' viewBox='0 0 24 24' fill='none' stroke='black' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'><line x1='5' y1='12' x2='19' y2='12' /><polyline points='12 5 19 12 12 19' /></svg>");
}

.slider-root-2kb .slick-prev,
.slider-root-2kb .slick-next {
  background: rgba(252, 252, 252, 0.75);
  border: none;
  border-radius: 50px;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 40px;
  line-height: 0;
  opacity: 1;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 40px;
  z-index: 101;
}

.slider-root-2kb .slick-prev:focus-visible,
.slider-root-2kb .slick-next:focus-visible {
  outline: auto;
  outline: -webkit-focus-ring-color auto 1px;
}

.slider-root-2kb .slick-dots {
  display: block;
  list-style: none;
  margin: 0;
  padding: 20px 0 18px 0;
  text-align: center;
  width: 100%;
}
.slider-root-2kb .slick-dots li {
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 6px;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 15px;
}
.slider-root-2kb .slick-dots li button {
  outline: none;
  background: rgb(var(--venia-global-color-gray-dark));
  filter: brightness(100%);
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  display: block;
  height: 15px;
  padding: 0;
  text-indent: -99999px;
  transition: 0.5s;
  width: 15px;
}
.slider-root-2kb .slick-dots li button:hover {
  filter: brightness(80%);
}
.slider-root-2kb .slick-dots li button:focus {
  outline: 1px solid;
}

.slider-root-2kb .slick-dots li button:active,
.slider-root-2kb .slick-dots li button:focus,
.slider-root-2kb .slick-dots li button:not(.primary) {
  box-shadow: none;
}

.slider-root-2kb .slick-dots li.slick-active button {
  background: #1c1918;
}

.slider-root-2kb .slick-current {
  z-index: 1;
}
.slider-shimmer-shimmerRoot-28w {
  display: block;
}
.dynamicBlock-root-rk1:empty {
  display: none;
}

.dynamicBlock-root_inline-2lJ {
  display: inline-block;
}
.dynamicBlock-shimmer-parent-2Mi {
  display: flex;
}

/* Only show one shimmer when multiple dynamic blocks */
.dynamicBlock-shimmer-parent-2Mi + .dynamicBlock-shimmer-parent-2Mi {
  display: none;
}

.dynamicBlock-shimmer-shimmerRoot-34j {
  flex: 1;
}

.dynamicBlock-shimmer-wrapper-2l4 {
}

.dynamicBlock-shimmer-overlay-1le {
}

.dynamicBlock-shimmer-content-1ZF {
}


/* The root aside element takes up the whole screen. */
/* It is hidden by default. */
/* It animates to being closed, and then moves off screen. */
/* It sits over all background content. */
.dialog-root-3Y- {
  transform: translate3d(-50%, 0, 0);
  transition:
    opacity 192ms var(--venia-global-anim-out),
    visibility 192ms var(--venia-global-anim-out),
    left 0s 192ms;

  /* TODO @TW: review (B6) */
  /* composes: invisible from global; */
  visibility: hidden;
}

.dialog-root_open-1iS {
  /* TODO @TW: review (B6) */
  /* composes: visible from global; */
  visibility: visible;

  /* It animates to being open. */
  transition:
    opacity 224ms var(--venia-global-anim-in),
    visibility 224ms var(--venia-global-anim-in),
    left 0s;
}

/* The form fills the entire aside. */
/* Its contents are centered horizontally and vertically. */
.dialog-form-P1W {
}

.dialog-mask-29r {
  /* The mask takes up the entire screen. */

  /* The mask is a semi-transparent grey. */
}

/* The dialog is the only item in the form grid. */
/* Nothing is allowed to overflow container itself. */
/* Container is itself a grid container for its children. */
/* Container can be the target of pointer events. */
/* It sits on top of the mask. */
.dialog-dialog-1mc {
  /* It sets maximum sizes so its body can handle overflow. */
  /* Minimum keeps a 16:9 aspect ratio and is 40rem x 22.5rem.  */
}

/*
*  Dialog Header styles.
*/

.dialog-header-2Uu {
  /* The Header is itself a grid container for its children. */
}

.dialog-headerText-2ho {
}

.dialog-headerButton-2Ia {
  /* Horizontally align the close button to the right. */
}

/*
*  Dialog Body styles.
*/

.dialog-body-nw7 {
  /* The Body is itself a grid container for its children. */
}

.dialog-contents-qWh {
}

.dialog-buttons-u1R {
}

.dialog-confirmButton-2qH {
  /* On mobile the confirm button should be first (on top). */
}

.dialog-cancelButton-3hT {
}

/*
* Mobile-specific styles.
*
* Instead of being a full-page modal,
* dialogs slide out from the right.
*/

@media (max-width: 959px) {
  .dialog-root-3Y- {
    /* The Dialog starts off-screen on the right. */
    transform: translate3d(100%, 0, 0);
    /* For mobile, add position to the transitions. */
    transition-property: opacity, transform, visibility;
  }

  .dialog-root_open-1iS {
    /* The Dialog animates (slides) onto the screen. */
    transform: translate3d(0, 0, 0);
  }
}
.createWishlistForm-formErrors-3Bi {
}

.createWishlistForm-listname-3fJ {
}

.createWishlistForm-actions-3OU {
}
.wishlistLineItem-root-2da {
}

.wishlistLineItem-lineItemName-Z98 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 600px;
}
.wishlistDialog-root-38w {
}

.wishlistDialog-formErrors-1vc {
  grid-column: 1 / span 1;
}

.wishlistDialog-existingWishlists-3Dn {
}

.wishlistDialog-createListButton-228 {
}


.braintree-sheet__content--form
  .braintree-form__field-group
  .braintree-form__field
  .braintree-form__hosted-field
  input.braintree-form__raw-input {
  color: #8f8f8f !important;
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__descriptor {
  color: #757575 !important;
}
