.megaMenuItem-megaMenuItem-1TT{
  font-size: 16px;
}
.submenu-submenu-iLX {
  background-color: #fff;
}
.megaMenuItem-megaMenuItem-1TT:hover > a + .submenu-submenu-iLX {
  display: block;
}

.submenu-submenu-iLX{
  top: 50px;
}

header .nav-brand {

}

.header-secondaryActions-2BM{
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

.cartTrigger-trigger-1c5 {
  min-width: 3.5rem;
}
